@import "../../styles/colors.scss";

.navbar {
  width: 100%;
  background-color: $color-hover;
  position: fixed;
  z-index: 5;
  padding: 10px;

  &_message {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_button {
    border-left: 2px solid $color-sidebar-shadow;
  }

  &_badge {
    padding: 5px;
    border-radius: 4px;

    &_success {
      background-color: $success-light;
      border: 1px solid $success-light-border;
      color: $success-color;
    }

    &_danger {
      background-color: $danger-light;
      border: 1px solid $danger-light-border;
      color: $danger-color;
    }
  }
}
