@import "../../styles/colors.scss";

.sidebar {
  position: fixed;
  top: 10%;
  right: 0;
  width: 20%;
  height: 70%;
  background-color: $color-background;
  padding: 20px;
  box-shadow: -2px 0 5px $color-sidebar-shadow;
  z-index: 1000;

  &_icon {
    &:hover {
      cursor: pointer;
    }
  }

  &_title {
    font-size: 24px;
    margin-bottom: 20px;
    color: $color-title;
  }

  &_menu {
    list-style-type: none;
    padding: 0;
  }
}
